<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="tests" thread-count="3">
    <test name="MyTest">
        <classes>
            <class name="StepDefinitions.Hook.TestNgRunner" />

        </classes>
    </test>
    
    
    
    <test name="MyTest1">
        <classes>
            <class name="StepDefinitions.Hook.TestNgRunner1" />
        </classes>
    </test>
</suite>




